body{
    text-align: center;
    background-color: #87CEEB;

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 46%;
}

.principal{
    background-color: rosybrown;
    height: 40px;
    max-width: 80%;
    margin: 0 auto;
}

.principal a{
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
}

.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: auto 50px;
}

img{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobreMim{
    background-color: rosybrown;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}

#listaHabilidades{
    list-style: none;
    line-height: 20px;
}

h2{
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
}

#contatos li{
    list-style-type: none;
}

li{
    font-size: 16;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
}