body{
    background-color: #87CEEB;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

h1{

    text-align: center;
}


.principal{
    text-align: center;
    background-color: rosybrown;
    height: 40px;
    max-width: 80%;
    margin: 0 auto;
}

.principal a{
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
}

.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: auto 50px;
    
}

#minhaFoto{
    width: 250px;
    float: left;
    padding: 80px;

}

.container{
    position: absolute;
    background-color: rosybrown;
    width: 78.4%;
    height: 600px;
    margin: 6% 0 0 10%;
}


#sobre-mim{
    margin-top: 10%;
}

.container p{
    text-align: justify;
    line-height: 20px;
    width: 90%;
}

.habilidades{
    position: absolute;
    right: 19.4%;
    top: 64%;
    width: 70%;
    
}


ol li{
    list-style: none;
    line-height: 20px;
    
}

footer{
    
    position: absolute;
    bottom: 20px;
    left: 120px;
    width: 80%;
    text-align: center;
    
    
}

footer ul{
    list-style: none;
}

footer ul li{
    line-height: 20px;
}